<div class="chart_container">
  <div style="display: block">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <div *ngIf="ShowHide" class="Relative_Select">
    <form [formGroup]="SelectFormGroup">
      <mat-form-field appearance="fill" class="Form_Chart">
        <mat-label class="select-white-text">Var X</mat-label>
        <mat-select class="select-white-text" (ngModelChange)="ChangeOnModel()" formControlName="Axis X">
          <mat-option *ngFor="let dimension of Dimensions"  [value]="dimension.id">
            {{dimension.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="Form_Chart">
        <mat-label class="select-white-text">Label</mat-label>
        <mat-select class="select-white-text" (ngModelChange)="ChangeOnModel()" formControlName="Axis Y">
          <mat-option *ngFor="let dimension of Dimensions" [value]="dimension.id">
            {{dimension.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form [formGroup]="ExpandFormGroup" *ngIf='ExpandSelect' class="Form_Expand">
      <div *ngFor="let dim of ExpandSelectList">
        <mat-form-field appearance="fill">
          <mat-label class="select-white-text">{{dim['DimID']}}</mat-label>
          <mat-select class="select-white-text" (ngModelChange)="ChangeOnExpand()"formControlName="{{dim['DimID']}}">
            <mat-option *ngFor="let option of dim['DimOptions']" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </form>
  </div>
    

  
</div>
